/* Ejemplo de hoja de estilo para la calculadora */

.calculadora{
  display:block;
  margin: 0 auto;
  padding:10px;
  background-color: black;
  width:280px;
  height:330 px;
  border-radius: 10px;
}

.calculadora td button{
  display:block;
  background-color: orange;
  width: 60px;
  height: 60px;
  font-size: 25px ;
}

.calculadora .num{
   background-color: lightgray;
}

.calculadora #cero {
   width: 60px;
   height: 60px;
}

#result{
  display:block;
  text-align: right;
  font-size:40px;
  font-family: verdana;
  color: white;
  margin-bottom:20px;
  width:255px;
  height:100px;
  line-height:100px;
  background-color: darkgray;
  border-radius: 0px;
  overflow: scroll;
}
